<main class="container">
  <!-- Button trigger modal -->
  <button
    type="button"
    class="btn btn-primary"
    data-bs-toggle="modal"
    data-bs-target="#staticBackdrop"
  >
    Launch static backdrop modal
  </button>

  <app-modal-todo-item></app-modal-todo-item>

  <form #form="ngForm" (ngSubmit)="onCreateTask(form)">
    <div class="mb-3">
      <label for="titleTask" class="form-label">Title Task</label>
      <input
        type="text"
        ngModel
        name="titleTask"
        placeholder="Enter the title here"
        class="form-control"
        id="titleTask"
        aria-describedby="titleHelp"
      />
      <div id="titleHelp" class="form-text">Required field!</div>
    </div>
    <div class="mb-3">
      <label for="textTask" class="form-label">Text about task</label>
      <input
        type="text"
        ngModel
        name="textTask"
        placeholder="Enter a description about the task"
        class="form-control"
        id="textTask"
        aria-describedby="textHelp"
      />
      <div id="textHelp" class="form-text">Required field!</div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <hr />

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Completed</th>
        <th scope="col">Title</th>
        <th scope="col">Text</th>
        <th scope="col">Edit</th>
        <th scope="col">Save</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      @for (task of taskArray; track task; let idx = $index) {
      <tr>
        <td>
          <input
            type="checkbox"
            [checked]="task.isCompleted"
            (change)="onCheckboxChange(idx)"
            class="form-check-input"
            id="checkbox"
          />
        </td>
        <td>
          <input
            type="text"
            class="form-control"
            value="{{ task.title }}"
            [readonly]="task.isReadOnly"
            [ngClass]="{ crossed: task.isCompleted }"
            #taskTitleInput
          />
        </td>
        <td>{{ task.description }}</td>
        <td>
          <button class="btn btn-warning btn-sm btn-action" (click)="onEditTask(idx)">Edit</button>
        </td>
        <td>
          <button
            class="btn btn-info btn-sm btn-action"
            (click)="onUpdateTask(idx, taskTitleInput.value)"
          >
            Save
          </button>
        </td>
        <td>
          <button class="btn btn-danger btn-sm btn-action" (click)="onDeleteTask(idx)">
            Delete
          </button>
        </td>
      </tr>
      } @empty {
      <tr>
        <td colspan="6">No tasks available.</td>
      </tr>
      }
    </tbody>
  </table>

  <p>Task acount: {{ taskArray.length }}</p>
</main>
