<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
  [ngClass]="{ 'modal-active': modalInfo.isToOpen }"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">{{ modalInfo.title }}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #form="ngForm">
          <div class="mb-3">
            <label for="titleTask" class="form-label">Title Task</label>
            <input
              type="text"
              [(ngModel)]="modalInfo.titleTask"
              name="titleTask"
              placeholder="Enter the title here"
              class="form-control"
              id="titleTask"
              aria-describedby="titleHelp"
              [value]="modalInfo.titleTask"
            />
            @if (titleTaskInvalid) {
            <div id="titleHelp" class="form-text text-danger">
              Required field! Title cannot be empty.
            </div>
            }
          </div>
          <div class="mb-3">
            <label for="textTask" class="form-label">Text about task</label>
            <input
              type="text"
              [(ngModel)]="modalInfo.textTask"
              name="textTask"
              placeholder="Enter a description about the task"
              class="form-control"
              id="textTask"
              aria-describedby="textHelp"
              [value]="modalInfo.textTask"
            />
            @if (textTaskInvalid) {
            <div id="textHelp" class="form-text text-danger">
              Required field! Description cannot be empty.
            </div>
            }
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="onCloseModal(form)"
        >
          Close
        </button>
        <button type="submit" class="btn btn-primary" (click)="onVerifySubmit(form)">Submit</button>
      </div>
    </div>
  </div>
</div>
